@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", arial, sans-serif;
  color: #1e3737;
}

input,
textarea,
::placeholder {
  font-weight: bold;
}

body {
  scroll-behavior: smooth;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
